/*
* All the css related to layout or main wrappers will
* go here.
*/

.header {
    background-color: #7dd8e8;
    padding: 8px 12px;
}
.navbar {
    background-color: #f5f5f5;
    height: 40px;
    padding: 0 16px;
}

.search-sidebar {
    width: 100%;
    background-color: #f5f5f5;
    margin-right: 16px;
    margin-top: 40px;
}

.main {
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
}

.sidebar {
    width: 100%;
    background-color: #f5f5f5;
}

.footer {
    padding: 18px;
    color:#fff;
    background-color: #727272;
    font-size: 10px;
    margin-top: 50px;
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 16px 21px;
    }
    
    .navbar {
        background-color: #f5f5f5;
        height: 40px;
    }
    
    .content-wrapper {
        margin-top: 46px;
    }
    
    .search-sidebar {
        width: 190px;
        height: 645px;
        background-color: #f5f5f5;
        margin: 0;
    }
    
    .main {
        padding: 0 30px;
        width: 520px;
        background-color: #fff;
    }
    
    .sidebar {
        width: 190px;
        height: 645px;
        background-color: #f5f5f5;
    }
    
    .footer {
        padding: 18px;
        color:#fff;
        background-color: #727272;
        font-size: 10px;
        margin-top: 50px;
    }
}